{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin-manage super user </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
    content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font--><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap/css/bootstrap.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">

   
    <style>
        .dropdown-container {
            position: relative;
            width: 100%;
        }

        /* Style the search input field */
        .search-box {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        /* Style the dropdown options */
        .dropdown-list {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            border: 1px solid #ccc;
            background-color: white;
            display: none;  /* Hidden by default */
            max-height: 200px;
            overflow-y: auto;
            width: 100%;
            box-sizing: border-box;
            z-index: 1000;
        }

        /* Style for each dropdown option */
        .dropdown-list option {
            padding: 10px;
            cursor: pointer;
        }

        /* Hover effect for options */
        .dropdown-list option:hover {
            background-color: #f0f0f0;
        }




   

    .modal {
        display: none; /* Hidden by default */
        position: fixed;
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    </style>
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="{% url 'index' %}">
                            <!-- <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Theme-Logo" /> -->
                             <h2>ADMIN</h2>
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                            
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <!-- <li class="header-notification">
                                <a href="#!">
                                    <i class="ti-bell"></i>
                                    <span class="badge bg-c-pink"></span>
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <h6>Notifications</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center" src="{% static 'assets/images/user.png' %}" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">John Doe</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center" src="{% static 'assets/images/user.png' %}" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Joseph William</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center" src="{% static 'assets/images/user.png' %}" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Sara Soudein</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li> -->
                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <!-- <img src="{% static 'assets/images/avatar-4.jpg' %}" class="img-radius" alt="User-Profile-Image"> -->
                                    <img src="https://cdn-icons-png.flaticon.com/128/149/149071.png" class="img-radius" alt="User-Profile-Image">
                                    <span>Account</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <!-- <li>
                                        <a href="#!">
                                            <i class="ti-settings"></i> Settings
                                        </a>
                                    </li> -->
                                    <li>
                                        <a href="{% url 'profile' %}">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <i class="ti-email"></i> My Messages
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-lock"></i> Lock Screen
                                        </a>
                                    </li> -->
                                    <li>
                                        <a href="{% url 'adminlogout' %}">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                   <header>
                    {% include 'header.html' %}
                   </header>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <!-- <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-file-code bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>Basic Form Inputs</h4>
                                                        <span>Lorem ipsum dolor sit <code>amet</code>, consectetur adipisicing elit</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item">
                                                            <a href="index.html">
                                                                <i class="icofont icofont-home"></i>
                                                            </a>
                                                        </li>
                                                        <li class="breadcrumb-item"><a href="#!">Form Components</a>
                                                        </li>
                                                        <li class="breadcrumb-item"><a href="#!">Form Components</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- Page-header end -->

                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Basic Form Inputs card start -->
                                                <div class="card">
                                                    <!-- <div class="card-header">
                                                        <h5>Basic Form Inputs</h5>
                                                        
                                                        <div class="card-header-right"><i
                                                            class="icofont icofont-spinner-alt-5"></i></div>

                                                            <div class="card-header-right">
                                                                <i class="icofont icofont-spinner-alt-5"></i>
                                                            </div>

                                                        </div>
                                                         -->
                                                         <div class="container">
                                                            <form id="quizzerForm" method="GET" action="">
                                                                <label for="category" class="col-sm-2 col-form-label">Select Category:</label>
                                                                <div class="dropdown-container">
                                                                    <!-- Search Box -->
                                                                    <input type="text" id="searchInput" class="search-box" placeholder="Search for category..." onkeyup="filterFunction()">
                                                                    
                                                                    <!-- The Actual Dropdown -->
                                                                    <select id="category" class="form-control" name="categoryname" onchange="this.form.submit()">
                                                                        <option value="">All Categories</option>
                                                                        {% for category in catid %}
                                                                            <option value="{{ category.id }}" {% if category == selected_category %}selected{% endif %}>
                                                                                {{ category.category_name }}
                                                                            </option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </form><br>
                                                        </div>
                                                        
                                                        <div class="card-block">
                                                            <div class="card">
                                                                <div class="card-block table-border-style">
                                                                    {% if messages %}
                                                                    <div class="alert alert-info">
                                                                        {% for message in messages %}
                                                                            <p>{{ message }}</p>
                                                                        {% endfor %}
                                                                    </div>
                                                                    {% endif %}
                                                                    <div class="table-responsive">
                                                                        <table class="table table-inverse">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Slno</th>
                                                                                    <th>Exam Id</th>
                                                                                    <th>Category Name</th>
                                                                                    <th>Subcategory</th>
                                                                                    <th>Created For</th>
                                                                                    <th>No of Questions</th>
                                                                                    <th>Time limit</th>
                                                                                    <th>View Questions</th>
                                                                                    <th>Action</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {% for get_e in getexam %}
                                                                                    <tr>
                                                                                        <td>{{ forloop.counter }}</td>
                                                                                        <td>{{ get_e.id }}</td>
                                                                                        <td>{{ get_e.catid.category_name }}</td>
                                                                                       
                                                                                        <td>
                                                                                            {% for subcat_name in get_e.subcategory_names %}
                                                                                                {{ subcat_name }}{% if not forloop.last %}, {% endif %}
                                                                                            {% endfor %}
                                                                                        </td>
                                                                                        <td>{{ get_e.super_name}}</td>
                                                                                        <td>{{ get_e.no_questions }}</td>
                                                                                        <td>{{ get_e.allowed_time}}</td>
                                                                                        <td><button class="update_btn" style="height: 30px; width: 60px;">
                                                                                            <a class=""  href="{% url 'see_exam_questions' get_e.id %}">View</a>
                                                                                        </button></td>
                                                                                        <td>
                                                                                            <button class="update_btn" style="height: 30px; width: 30px;" onclick="openSharePopup('{% url 'exam_invite' get_e.id %}')">
                                                                                                <a class="ti-share" href="javascript:void(0)"></a>
                                                                                            </button>
                                                                                            
                                                                    
                                                                                            <button class="ti-trash" style="height: 30px; width: 30px;" onclick="confirmDelete('{% url 'delete_exam' get_e.id %}')"></button>
                                                                                        </td>
                                                                                    </tr>
                                                                                {% empty %}
                                                                                    <tr>
                                                                                        <td colspan="8">No subcategories available.</td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


<!-- Modal for sharing the exam link -->
<!-- <div id="shareModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p><strong>Share the link:</strong></p>
        <p id="modalContent"></p>
        <button id="copyButton">Copy Link</button>
    </div>
</div> -->


<!-- Modal for sharing the exam link -->
<div id="shareModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p><strong>Share the encrypted link:</strong></p>
        <p id="modalContent"></p>
        <button id="copyButton">Copy Link</button>
    </div>
</div>





                                                        
                                                                            </div>
                                                                        </div>
                                                                        <!-- Page body end -->
                                                                    </div>
                                                                </div>
                                                                <!-- Main-body end -->
                                                                <!-- <div id="styleSelector">

                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

<!-- <div class="fixed-button">
	<a href="https://codedthemes.com/item/guru-able-admin-template/" target="_blank" class="btn btn-md btn-primary">
	  <i class="fa fa-shopping-cart" aria-hidden="true"></i> Upgrade To Pro
	</a>
</div> -->
                                        <!-- Warning Section Starts -->
                                        <!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers
        to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
<!-- am chart -->
<script src="{% static 'assets/pages/widget/amchart/amcharts.min.js' %}"></script>
<script src="{% static 'ssets/pages/widget/amchart/serial.min.js' %}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{% static 'assets/pages/todo/todo.js' %} "></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'ssets/pages/dashboard/custom-dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
<script type="text/javascript " src="{% static 'assets/js/SmoothScroll.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/demo-12.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>

<script>
    function confirmDelete(url) {
        console.log("Delete URL: ", url); // Log the URL for debugging
        const confirmation = confirm("Are you sure you want to delete this?");
        if (confirmation) {
            window.location.href = url;  // Redirect to the delete URL
        }
    }
</script>

<script>
    
    function filterFunction() {
        var input, filter, select, options, i;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        select = document.getElementById("category");
        options = select.getElementsByTagName("option");
 
        var isMatchFound = false; 
        for (i = 0; i < options.length; i++) {
            var optionText = options[i].textContent || options[i].innerText;
            if (optionText.toLowerCase().indexOf(filter) > -1) {
                options[i].style.display = ""; 
                isMatchFound = true;
            } else {
                options[i].style.display = "none"; 
            }
        }

        
        if (filter === "" || !isMatchFound) {
            select.size = 1; 
        } else {
            select.size = options.length; 
        }
    }
    document.addEventListener("click", function(event) {
        var selectBox = document.getElementById("category");
        var searchInput = document.getElementById("searchInput");

        if (!selectBox.contains(event.target) && !searchInput.contains(event.target)) {
            selectBox.size = 1; 
        }
    });
</script>




<!-- <script type="text/javascript">
    // Function to show the modal with the exam invite link
    function openSharePopup(url) {
        // Set the exam invite link in the modal
        const modalContent = document.getElementById('modalContent');
        modalContent.textContent = url;

        // Show the modal
        const modal = document.getElementById('shareModal');
        modal.style.display = 'block';

        // Handle copy button click
        const copyButton = document.getElementById('copyButton');
        copyButton.onclick = function() {
            // Create a temporary input field to copy the link
            const tempInput = document.createElement('input');
            tempInput.value = url;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);

            // Optionally show a message to confirm the link has been copied
            alert('Link copied to clipboard!');
        };
    }

    // Function to close the modal
    function closeModal() {
        const modal = document.getElementById('shareModal');
        modal.style.display = 'none';
    }
</script> -->


<!-- <script>
    // Function to open the modal with the correct full URL
    function openSharePopup(relativeUrl) {
        // Get the current server's origin (protocol + domain + port)
        var currentUrl = window.location.origin; // This gives the server's URL (e.g., http://127.0.0.1:8000)
    
        // Combine it with the relative URL provided by Django's template tag
        var fullUrl = currentUrl + relativeUrl; // e.g., http://127.0.0.1:8000/exam_invite/44/
    
        // Set the full URL inside the modal content
        document.getElementById("modalContent").textContent = fullUrl;
    
        // Display the modal
        document.getElementById("shareModal").style.display = "block";
    }
    
    // Function to close the modal
    function closeModal() {
        document.getElementById("shareModal").style.display = "none";
    }
    
    // Function to copy the link to clipboard
    document.getElementById("copyButton").addEventListener("click", function() {
        var copyText = document.getElementById("modalContent");
        var range = document.createRange();
        range.selectNode(copyText);
        window.getSelection().removeAllRanges(); // Clear previous selections
        window.getSelection().addRange(range); // Select the text
        document.execCommand("copy"); // Execute the copy command
        alert("Link copied to clipboard!");
    });
    </script>
     -->



     <!-- <script>
        // Function to open the modal with the encrypted URL
        function openSharePopup(relativeUrl) {
            // Get the current server's origin (protocol + domain + port)
            var currentUrl = window.location.origin; // This gives the server's URL (e.g., http://127.0.0.1:8000)
        
            // Combine it with the relative URL provided by Django's template tag
            var fullUrl = currentUrl + relativeUrl; // e.g., http://127.0.0.1:8000/exam_invite/44/
        
            // Encrypt the full URL using Base64 encoding
            var encryptedUrl = btoa(fullUrl); // btoa() encodes the URL into Base64 format
        
            // Set the encrypted URL inside the modal content
            document.getElementById("modalContent").textContent = encryptedUrl;
        
            // Display the modal
            document.getElementById("shareModal").style.display = "block";
        }
        
        // Function to close the modal
        function closeModal() {
            document.getElementById("shareModal").style.display = "none";
        }
        
        // Function to copy the link to clipboard
        document.getElementById("copyButton").addEventListener("click", function() {
            var copyText = document.getElementById("modalContent");
            var range = document.createRange();
            range.selectNode(copyText);
            window.getSelection().removeAllRanges(); // Clear previous selections
            window.getSelection().addRange(range); // Select the text
            document.execCommand("copy"); // Execute the copy command
            alert("Encrypted link copied to clipboard!");
        });
        </script> -->



<script>

function openSharePopup(examId) {
    // Base64 encode the exam ID (e.g., 44)
    var encodedExamId = btoa(examId);  // This encodes the ID (e.g., "44" to "NDU=")

    // Create the full URL with the Base64-encoded exam ID
    var fullUrl = window.location.origin + '/exam_invite/' + encodedExamId;

    // Display the full URL in the modal
    document.getElementById("modalContent").textContent = fullUrl;

    // Show the modal with the URL
    document.getElementById("shareModal").style.display = "block";
}



// Function to close the modal
function closeModal() {
    document.getElementById("shareModal").style.display = "none";
}

// Function to copy the URL to the clipboard
document.getElementById("copyButton").addEventListener("click", function() {
    var copyText = document.getElementById("modalContent");
    var range = document.createRange();
    range.selectNode(copyText);
    window.getSelection().removeAllRanges(); // Clear previous selections
    window.getSelection().addRange(range); // Select the text
    document.execCommand("copy"); // Execute the copy command
    alert("Link copied to clipboard!");
});


</script>
        

</body>

</html>
